/* common styles -------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts_euclid/montserrat-bold-webfont.woff2') format('woff2'),
    url('../fonts_euclid/montserrat-bold-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts_euclid/montserrat-light-webfont.woff2') format('woff2'),
    url('../fonts_euclid/montserrat-light-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts_euclid/montserrat-medium-webfont.woff2') format('woff2'),
    url('../fonts_euclid/montserrat-medium-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts_euclid/montserrat-regular-webfont.woff2') format('woff2'),
    url('../fonts_euclid/montserrat-regular-webfont.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .3s ease;
}

html {
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --hover-color: #FF9900;
  --active-color: #E1670E;
}

body {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

section {
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: unset;
  cursor: pointer;
  background-color: #fff;
}

/* header -------------------------------------------------------------------------------*/
.header {
  display: flex;
  padding: 14px 75px;
  max-height: 100px;
  align-items: center;
  margin-bottom: 1px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.nav-header__list {
  display: flex;
  margin-right: 66px;
  flex-wrap: wrap;
}

.nav-header__link {
  padding-bottom: 10px;
  border-bottom: transparent solid 2px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  transition-property: border-bottom-color color;
}

.nav-header__link:hover {
  border-bottom-color: var(--hover-color);
}

.nav-header__link:active {
  border-bottom-color: var(--active-color);
  color: var(--active-color);
}

.nav-header__item:not(:last-child) {
  margin-right: 85px;
}

.nav-header__input {
  display: none;
}

.nav-header__btn {
  background-color: white;
  transition-property: fill stroke;
}

.nav-header__magnifier {
  margin-right: 11px;
}

.nav-header__btn:hover .nav-header__magnifier circle{
  stroke: var(--hover-color);
}

.nav-header__btn:hover .nav-header__magnifier rect{
  fill: var(--hover-color);
}

.nav-header__btn:active .nav-header__magnifier circle{
  stroke: var(--active-color);
}

.nav-header__btn:active .nav-header__magnifier rect{
  fill: var(--active-color);
}

/* main -------------------------------------------------------------------------------*/
.container {
  padding: 0 75px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px;
}

.invisible-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__headers {
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.main__mini-title {
  margin: 0;
  max-width: 100%;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
}

.main__text {
  margin: 0;
  line-height: 32px;
}

/* advertisement -------------------------------------------------------------------------------*/
.advertisement {
  padding: 103px 855px 91px 78px;
  min-height: 620px;
  color: #fff;
  background-image: url(../images_euclid/jpg+png/advertisement-1.jpg);
  /* background-image: url(../images_euclid/jpg+png/advertisement-2.jpg);
  background-image: url(../images_euclid/jpg+png/advertisement-3.jpg); */
  background-size: cover;
}

.advertisement__top-title {
  margin-bottom: 18px;
  font-size: 70px;
  font-weight: 800;
  line-height: 89px;
  letter-spacing: 1.1px;
}

.advertisement__text {
 margin-bottom: 97px;
 letter-spacing: -0.3px;
}

.advertisement__text, .advertisement__calculation-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.advertisement__calculation-link {
  display: inline-block;
  padding: 26px 37px;
  color: #fff;
  background-color: var(--hover-color);
  transition-property: background-color;
}

.advertisement__calculation-link:hover {
  background-color: rgba(255, 153, 0, 0.6);;
}

.advertisement__calculation-link:active {
  background-color: var(--active-color);
}

/* about us -------------------------------------------------------------------------------*/
.aboutus__header {
  margin-bottom: 26px;
}

.description-aboutus {
  display: flex;
}

.aboutus__info {
  margin-bottom: 44px;
  width: 69.77%;
  line-height: 2;
}

.aboutus__info-pic {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images_euclid/svg/i.svg) center center no-repeat;
  cursor: pointer;
}

.description-aboutus__details {
  position: relative;
  margin-right: 30px;
  width: 870px;
  background: url(../images_euclid/jpg+png/Worker.jpg) no-repeat;
  background-size: cover;
}

.description-aboutus__reference {
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 44px 68px 42px 54px;
  align-items: center;
  background: rgba(0,0,0,.5);
}

.description-aboutus__text {
  margin-right: 74px;
  font-weight: 700;
  line-height: 2;
  color: #fff;
}

.description-aboutus__btn-link {
  display: inline-block;
  padding: 20px 38px;
  border: 3px solid var(--hover-color);
  font-weight: 700;
  color: #fff;
  background: transparent;
  transition-property: border-color background-color;
}

.description-aboutus__btn-link:hover {
  background-color: var(--hover-color);
}

.description-aboutus__btn-link:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.description-aboutus__advantages {
  align-self: center;
}

.description-aboutus__card {
  padding: 67px 115px 66px 300px;
  width: 870px;
  border: 1px solid #CACACA;
  background-position-x: 63px;
  background-position-y: 44%;
  background-repeat: no-repeat;
}

.description-aboutus__card:not(:last-child) {
  margin-bottom: 30px;
}

.description-aboutus__card--consulting {
  background-image: url(../images_euclid/svg/aboutus-consulting.svg);
}

.description-aboutus__card--intention {
  background-image: url(../images_euclid/svg/aboutus-intention.svg);
  background-position-y: 38%;
}

/* how we work -------------------------------------------------------------------------------*/
.how-we-work__header {
  margin-bottom: 47px;
}

.how-we-work__nav {
  margin-bottom: 47px;
}

.how-we-work__list {
  display: flex;
}

.main__mini-title--how-we-work {
  margin-bottom: 3px;
}

.how-we-work__steps {
  font-size: 18px;
  line-height: 22px;
  color: #333;
  cursor: pointer;
}

.how-we-work__steps:not(:last-child) {
  margin-right: 89px;
}

.how-we-work__spoiler {
  transition-property: color;
}

.how-we-work__spoiler:hover {
  color: var(--hover-color);
}

.how-we-work__spoiler:active {
  color: var(--active-color);
}

.how-we-work__content {
  margin-top: 47px;
}

.how-we-work__info-box {
  width: 758px;
}

.how-we-work__text {
  margin-bottom: 61px;
  line-height: 32.5px;
}

.how-we-work__btn-link {
  margin-left: 3px;
  padding: 20px 38px;
}

.how-we-work__btn-link:not(:last-child) {
  margin-right: 26px;
}

.how-we-work__btn-link--details {
  display: inline-block;
  color: #fff;
  background-color: var(--hover-color);
  transition-property: background-color;
}

.how-we-work__btn-link--details:hover {
  background-color: #F7B045;
}

.how-we-work__btn-link--details:active {
  background-color: var(--active-color);
}

.how-we-work__btn-link--contract {
  display: inline-block;
  border: 1px solid #333;
  color: #333;
  background-color: #fff;
  transition-property: border-color background-color color;
}

.how-we-work__btn-link--contract:hover {
  color: #fff;
  background-color: #666;
}

.how-we-work__btn-link--contract:active {
  border-color:  #000;
  color: #fff;
  background-color: #000;
}

.how-we-work__step {
  display: none;
  min-height: 465px;
}

.how-we-work__step--consulting {
  display: block;
  background: url(../images_euclid/jpg+png/step1-consultation.jpg) top right no-repeat;
}

.how-we-work__step--estimate {
  background: url(../images_euclid/jpg+png/step2-estimate.jpg) top right no-repeat;
}

.how-we-work__step--contractors {
  background: url(../images_euclid/jpg+png/step3-contractor.jpg) top right no-repeat;
}

.how-we-work__step--inspection {
  background: url(../images_euclid/jpg+png/step4-inspect.jpg) top right no-repeat;
}

.how-we-work__step--consulting, .how-we-work__step--estimate, .how-we-work__step--contractors, .how-we-work__step--inspection {
  background-position-y: 10px;
  background-size: 870px 100%;
}

/* FAQ -------------------------------------------------------------------------------*/

.faq__header {
  margin-bottom: 30px;
}

.faq__item {
  padding: 30px 0;
  border-top: 1px solid #CACACA;
  line-height: 32px;
  transition-property: border-color color;
}

.faq__item:last-child {
  border-bottom: 1px solid #CACACA;
}

.faq__item:hover {
  border-color: var(--hover-color);
}

.faq__item:not(:nth-last-child(2)):hover + .faq__item{
  border-color: var(--hover-color);
}

.faq__item:nth-last-child(2):hover + .faq__item{
  border-top-color: var(--hover-color);
}

.faq__item:hover .faq__question{
  color: var(--hover-color);
}

.faq__question-box {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.faq__question {
  position: absolute;
  display: block;
  margin-left: 4px;
  align-self: center;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transform: translateY(4px);
}

.faq__question-slash {
  color: #CACACA;
}

.faq__cross {
  display: block;
  margin-left: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition-property: transform fill;
}

.faq__item:hover .faq__cross ellipse{
  fill: var(--hover-color);
}

.faq__item:hover .faq__cross path{
  fill: #fff;
}

.faq__text {
  display: none;
  width: 1003px;
}

.faq__text:not(:last-child) {
  width: 1003px;
  margin-bottom: 35px;
}

/* footer -------------------------------------------------------------------------------*/

.footer {
  display: flex;
  padding: 48px 75px 80px 75px;
  color: #CACACA;
  background-color: #222222;
}

.footer__infoblock {
  margin-right: 284px;
  width: 317px;
}

.infoblock-footer__logo {
  display: block;
  margin-bottom: 19px;
  margin-right: auto;
}

.infoblock-footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.infoblock-footer__link {
  font-size: 18px;
  color: #CACACA;
  transition-property: color;
}

.infoblock-footer__link:hover {
  color: var(--hover-color);
}

.infoblock-footer__link:active {
  color: var(--active-color)
}

.infoblock-footer__list {
  margin-bottom: 118px;
}

.infoblock-footer__socials-list {
  display: flex;
}

.infoblock-footer__social {
  display: block;
  width: 60px;
  height: 60px;
  transition-property: fill;
}

.infoblock-footer__social:not(:last-child) {
  margin-right: 20px;
}

.infoblock-footer__social:hover path {
  fill: var(--hover-color);
}

.infoblock-footer__social:active path {
  fill: var(--active-color);
}

.footer__application {
  margin-right: 236px;
  width: 570px;
  transform: translateY(11px);
}

.application-footer__header {
  display: block;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.application-footer__field:last-child {
  margin-bottom: 31px;
}

.application-footer__field:not(:last-child) {
  margin-bottom: 23px;
}

.application-footer__field--name, .application-footer__field--mail, .application-footer__field--message {
  padding: 14px 24px;
  width: 100%;
  border: none;
  line-height: 2;
  color: #CACACA;
  background-color: #414141;
}

.application-footer__field--message {
  height: 150px;
  resize: none;
}

.application-footer__submit {
  display: flex;
}

.application-footer__button {
  padding: 20px 40px;
  margin-right: 20px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: var(--hover-color);
  transition-property: background-color;
}

.application-footer__button:hover {
  background-color: #F7B045;
}

.application-footer__button:active {
  background-color: var(--active-color);
}

.application-footer__conditions {
  align-self: center;
}

.application-footer__condition {
  cursor: pointer;
}

.application-footer__checkbox {
  position: absolute;
  appearance: none;
}

.fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images_euclid/svg/check_box.svg) center center no-repeat;
  transform: translateY(4px);
}

.application-footer__checkbox:focus + .fake {
  border: 1px solid #fff;
  border-radius: 2px;
}

.fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 10px;
  height: 8px;
  background: url(../images_euclid/svg/chackbox.svg) center center no-repeat;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.application-footer__checkbox:checked + .fake::before{
  opacity: 1;
}

.application-footer__condition-text {
  margin-left: -2px;
}

.footer__other {
  transform: translateY(78px);
}

.footer__text {
  line-height: 2.1;
  max-width: 363px;
}
/*  -----------------------------------------------------------------------------------------------------------------------------------*/
