/* common styles -------------------------------------------------------------------------------*/
@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 30px 0;
  font-size: 16px;
  background-color: #E5E5E5;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Muller', sans-serif;
  word-wrap: break-word;
}

.section-padding:not(:last-child) {
  padding-bottom: 70px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.top-heading {
  margin-left: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
  color: #333333;
}

.btn {
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid #CC9933;
  text-align: center;
  line-height: 1;
  color: #CC9933;
}

/* header -------------------------------------------------------------------------------*/
.header {
  min-height: 155px;
  margin-bottom: 70px;
}

.header-logtel {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.header-tel-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #666;
}

.cabinet {
  margin-left: auto;
}

.cabinet-icon {
  background: url(../img/svg/Vector.svg) left top no-repeat;
}

.cabinet-link {
  padding-left: 28px;
  line-height: 1;
  color: #CC9933;
}

.header-nav {
  display: flex;
  padding: 10px 45px;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  border-radius: 15px;
  background-color: #fff;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  width: 35.3%;
  margin-left: 57px;
}

.nav-list {
  display: flex;
  padding-right: 56px;
  justify-content: space-between;
  width: 64.7%;
  border-right: 1px solid #E1E1E1;
}

.nav-item {
  max-width: 20%;
  text-align: center;
  line-height: 50px;
  font-weight: 500;
}

.nav-list-link {
  color: #666;
}

.header-btns {
  margin-right: auto;
}

.btn-nav {
  max-width: 50%;
  font-weight: 500;
}

.btn-nav:not(:last-child) {
  margin-right: 40px;
}

/* specoffer -------------------------------------------------------------------------------*/
.invisible-header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-specoffers-alloffers {
  display: flex;
  justify-content: space-between;
}

.specoffers-categories {
  flex-basis: 49%;
}

.specoffers-categories:not(:last-child) {
  margin-right: 23px;
}

.specoffer-card {
  display: flex;
  padding: 40px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.specoffer-card:not(:last-child){
  margin-bottom: 23px;
}

.specoffers-cards-common {
  background-repeat: no-repeat;
  background-size: cover;
}

.maldives-img {
  background-image: url(../img/maldives.png);
}

.crete-img {
  background-image: url(../img/Crete.png);
}

.lux-offer {
  background-image: url(../img/lux.png);
}

.specoffers-description-pos {
  align-self: flex-end;
  vertical-align: bottom;
}

.specoffers-common-heading, .specoffers-lux-heading {
  margin-top: 0;
  margin-bottom: 15px;
  width: 299px;
  color: #FFF;
}

.specoffers-lux-heading {
  font-size: 60px;
}

.specoffers-common-heading {
font-size: 40px;
}

.specoffers-common-price, .specoffers-lux-price {
  display: block;
  margin-bottom: 47px;
  font-weight: 400;
  color: #FFF;
}

.specoffers-common-price {
  font-size: 20px;
}

.specoffers-lux-price {
  font-size: 30px;
}

.specoffers-details {
  padding-right: 15px;
  color: #FFCC66;
  line-height: 1;
}

.details-icon {
  background: url(../img/svg/Rectangle_1.svg) right center no-repeat;
}

/* about us -------------------------------------------------------------------------------*/
.section-aboutus-description {
  margin-top: 0;
  width: 888px;
  font-weight: 500;
  line-height: 2;
  color: #000;
}

/* services -------------------------------------------------------------------------------*/
.section-services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.section-services-item {
  flex-basis: 48.89%;
  border-radius: 15px;
}

.section-services-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.section-services-item-text {
  padding: 191px 126px 50px 45px;
}

.section-services-item-heading {
  padding-right: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
  color: #CC9933;
}

.services-details-icon {
  background: url(../img/svg/Rectangle_4.svg) right center no-repeat;
}

.section-services-description {
  margin: 0;
  font-weight: 400;
  line-height: 2;
}

.services-image-glasses {
  background: url(../img/glasses.jpg) top center no-repeat;
}

.services-image-meal {
  background: url(../img/meal.jpg) top center no-repeat;
}

.services-image-pool {
  background: url(../img/pool.jpg) top center no-repeat;
}

.services-image-parking {
  background: url(../img/parking.jpg) top center no-repeat;
}

.services-image-glasses, .services-image-meal, .services-image-pool, .services-image-parking {
  background-color: white;
  background-size: contain;
}

/* advantages -------------------------------------------------------------------------------*/
.section-advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-advantages-item {
  width: 160px;
  padding: 40px 42px 41px 45px;
  flex-basis: 23.5%;
  border-radius: 15px;
  background-color: white;
}

.section-advantages-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 23px;
}

.section-advantages-description {
  margin: 0;
  font-weight: 400;
  line-height: 2;
}

.advantages-img-bathtub, .advantages-img-hanger, .advantages-img-heating, .advantages-img-hotel-key, .advantages-img-parking, .advantages-img-reception, .advantages-img-security-box, .advantages-img-swimming-pool {
  margin-bottom: 10px;
  width: 67px;
  height: 67px;
  background-size: contain;
}

.advantages-img-bathtub {
  background: url(../img/svg/bathtub.svg) left center no-repeat;
}

.advantages-img-hanger {
  background: url(../img/svg/hanger.svg) left center no-repeat;
}

.advantages-img-heating {
  background: url(../img/svg/heating.svg) left center no-repeat;
}

.advantages-img-hotel-key {
  background: url(../img/svg/hotel-key.svg) left center no-repeat;
}

.advantages-img-parking {
  background: url(../img/svg/parking.svg) left center no-repeat;
}

.advantages-img-reception {
  background: url(../img/svg/reception.svg) left center no-repeat;
}

.advantages-img-security-box {
  background: url(../img/svg/security-box.svg) left center no-repeat;
}

.advantages-img-swimming-pool {
  background: url(../img/svg/swimming-pool.svg) left center no-repeat;
}

/* accommodation -------------------------------------------------------------------------------*/
.section-accommodation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.section-accommodation-item {
  flex-basis: 31.8%;
  min-height: 440px;
  max-width: 374px;
  border-radius: 15px;
  background-color: white;
}

.section-accommodation-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 23px;
}

.accommodation-info {
  padding: 35px 40px 40px 45px;
}

.section-accommodation-item-img {
  border-radius: 15px 15px 0 0;
}

.accommodation-price-stars {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.stars {
  display: inline-block;
  text-align: right;
}

.accommodation-price {
  display: inline-block;
}

.accommodation-from-price {
  font-size: 20px;
  font-weight: 700;
}

.accommodation-hotel-name {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1;
}

.accommodation-city {
  margin-bottom: 20px;
  display: block;
  line-height: 1;
  color: #999;
}

.accomodation-btn {
  display: inline-block;
  line-height: 1;
}

.accommodation-other-background {
  padding: 40px 40px 27px 54px;
  display: flex;
  height: 440px;
  background-image: url(../img/rocks.jpg);
  background-repeat: no-repeat;
}

.accommodation-other {
  align-self: flex-end;
}

.section-accomodation-showall {
  padding-right: 16px;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: #fff;
}

.accomodation-showall-icon {
  background: url(../img/svg/Rectangle_3.svg) right center no-repeat;
}
/* ------------------------------------------------------------------------------- */
